# Querying SQL data using SQLAlchemy

#### Description:

This codebook covers how to perform typical SQL queries using the powerful SQLAlchemy library.

#### Skill level:

- Beginner/ Intermediate

-------------------------
### Import the required libraries

In [1]:
import os
import sys

platform_path = os.path.abspath(os.path.join(os.path.abspath(''), '../../../'))
sys.path.append(platform_path)

In [2]:
import pandas as pd
from sqlalchemy import create_engine, inspect

-------------------------
### Create a connection to the SQL database using SQLAlchemy

#### Note:
- SQLAlchemy connection strings typically follow the format: dialect+driver://username:password@host:port/database
- Multiple types of SQL databases are supported by SQLAlchemy, and the database can be on a remote server

#### References:
- SQLAlchemy connection string examples: https://docs.sqlalchemy.org/en/13/core/engines.html
- Source of data used in this codebook: https://github.com/lerocha/chinook-database

In [3]:
data_path = os.path.join(platform_path, 'DATA/Chinook_Sqlite.sqlite')

engine = create_engine('sqlite:///{}'.format(data_path))

-------------------------
### Create inspector class to retrieve table and column names within the SQL database

In [4]:
inspector = inspect(engine)

-------------------------
### Print names of all the tables within the SQL database

#### References:
- Schema of data used in this codebook: https://www.sqlitetutorial.net/sqlite-sample-database/

In [5]:
print("\ntable names:")
for count, table_name in enumerate(inspector.get_table_names()):
    print("table {}: {}".format(count, table_name))

table names:
table 0: Album
table 1: Artist
table 2: Customer
table 3: DetailedPlaylist
table 4: DetailedPlaylist2
table 5: Employee
table 6: Genre
table 7: Invoice
table 8: InvoiceLine
table 9: MediaType
table 10: Playlist
table 11: PlaylistTrack
table 12: Track

-------------------------
### Print names of all the columns within a certain SQL database table

In [6]:
table_name = "Playlist"

print("\ncolumn names for {} table:".format(table_name))
for count, column in enumerate(inspector.get_columns(table_name)):
   print("column {}: {}".format(count, column['name']))

column names for Playlist table:
column 0: PlaylistId
column 1: Name

-------------------------
### Drop a particular SQL database table (if it exists)

In [7]:
table_names = ['DetailedPlaylist', 'DetailedPlaylist2']

for table_name in table_names:
    sql = """
    DROP TABLE IF EXISTS {};
    """.format(table_name)

    with engine.connect() as con:
        rs = con.execute(sql)

-------------------------
### Create a new SQL database table based on a join of two existing tables

In [8]:
output_table_name = "DetailedPlaylist"
left_table_name = "Playlist"
right_table_name = "PlaylistTrack"
join_field_name = "PlaylistId"

sql = """
CREATE TABLE {} AS
SELECT * FROM {} a INNER JOIN {} b ON a.{}=b.{};
""".format(output_table_name, left_table_name, right_table_name, join_field_name, join_field_name)

with engine.connect() as con:
    rs = con.execute(sql)

-------------------------
### Read data from SQL database table into a dataframe

#### References:
- Pandas read_sql function: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html

In [9]:
table_name = "DetailedPlaylist"

sql = """
SELECT * FROM {};
""".format(table_name)

df = pd.read_sql(sql, engine)

print("\nfirst five records for {} table:".format(table_name))
print(df.head(5))

first five records for DetailedPlaylist table:
   PlaylistId   Name  PlaylistId:1  TrackId
0           1  Music             1     3402
1           1  Music             1     3389
2           1  Music             1     3390
3           1  Music             1     3391
4           1  Music             1     3392

-------------------------
### Write data from dataframe to a new SQL database table

#### References:
- Pandas read_sql function: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html

In [10]:
table_name = "DetailedPlaylist2"

df.to_sql(table_name, engine)